.base-container {
    background-color: white;
    -webkit-box-shadow: 0px -1px 14px 0px rgba(50, 50, 50, 0.59);
    -moz-box-shadow: 0px -1px 14px 0px rgba(50, 50, 50, 0.59);
    box-shadow: 0px -1px 14px 0px rgba(50, 50, 50, 0.59);
}

.cover {
    background: url(../img/cover.jpg) no-repeat 50% 50%;
    height: 340px;
}

    .cover h1,
    .cover h4 {
        text-align: center;
        -ms-text-shadow: -1px -1px 1px rgba(255, 255, 255, 1);
        text-shadow: -1px -1px 1px rgba(255, 255, 255, 1);
    }





@media (max-width: 600px) {
    .cover {
        background: url(../img/cover.jpg) no-repeat 70% 50%;
    }
}

@media (min-width: 992px) {
    .cover {
        background: url(../img/cover.jpg) no-repeat 50% 50%;
    }
}

.content div h2 {
    text-align: center;
}

.container div span {
    padding-left: 20px;
}